
:root {
  --success: #70f5cf;
}
.banner {
  background-image: url('./assets/hero-bg.svg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav-transparent {
  background: transparent;
}
.user-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  justify-content: space-between;
}
.user-info, .user-profile {
  padding-bottom: 10%;
  @media screen and (min-width:999px) {
    width: 49.5%;
  }
}
.user-profile {
  text-align: center;
  @media screen and (max-width:1000px) {
    display: none;
  }
}
.user-profile img {
  height: 375px;
}
.custom-button {
  border-radius: 50px;
  padding: 8px 30px;
  color: white;
  background-color: var(--success);
}
.custom-button:hover {
  background-color: white;
  color: black;
}
.random-text {
  color: white;
}

.navbar-nav a {
position: relative;
}
.navbar-nav a:after{
transition: all .5s;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #aaa;
height: 1px;
}
.navbar-nav a:hover:after {
width: 100%;
}