:root {
  --success: #70f5cf;
  --sea-green:#21e1cd;
  --text-dark:#263238;
}

.banner {
  background-image: url('./assets/hero-bg.svg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar-light .navbar-nav a.nav-link:hover {
  color: var(--sea-green);
}
.user-section {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.user-info, .user-profile {
  padding-bottom: 10%;
}
.user-profile {
  text-align: center;
}
.user-profile img {
  width: 375px;
}
.custom-button {
  border-radius: 50px;
  padding: 8px 30px;
  display: flex;
  background-color: var(--success);
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 250px;
}
.custom-button img {
  height: 20px;
}
.custom-button:hover {
  background-color: white;
}
.random-text {
  color: white;
}


/* Style for Timeline */
.timeline-container {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: var(--sea-green);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact me */
.contact-me {
  background-color: var(--text-dark);
  padding: 1.5rem;
}
.social-media-icons {
  height: 25px;
  width: 25px;
} 
.social-media {
  display: flex;
  flex-wrap: wrap;
  color: white;
  column-gap: 25px;
  justify-content: center;
  row-gap: 18px;
}
.invert-1 {
  filter: invert(1);
}

.social-media a {
  text-decoration: none;
}
.social-media a:hover span {
  color: var(--sea-green);
}
.social-media span {
  margin-left: 8px;
  color: white;
}

/* Carousel styles */
#carouselExampleAutoplaying .carousel-icons {
  background-color: var(--text-dark);
}
.carousel-item img{
  width: 100%;
  height: 85vh;
  object-position: center;
  object-fit: contain;
}

/* All media queries */
@media screen and (min-width:999px) {
  .user-info, .user-profile {
    width: 49.5%;
  }
}

@media screen and (max-width:1000px) {
  .user-section {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 25px;
  }

  .timeline-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 96%;
  }
}
@media screen and (max-width:767px) {
  .user-profile img {
    width: 70vw;
  }
  .carousel-item img{
    max-height: 250px;
  }
}
